/.project
/.settings
/core/.classpath
/core/.project
/core/.settings
/core/target
/graphx/target
/graphx/.classpath
/graphx/.project
/graphx/.settings
/launcher/target
/launcher/.classpath
/launcher/.project
/launcher/.settings
/network/common/.classpath
/network/common/.project
/network/common/.settings
/network/common/target
/network/shuffle/.classpath
/network/shuffle/.project
/network/shuffle/.settings
/network/shuffle/target
/network/yarn/target
/network/yarn/.classpath
/network/yarn/.project
/network/yarn/.settings
/target
/.idea
/spark-parent_2.10.iml
